@model IDFWebApp.Models.Custom.raceevent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{

    <link href="~/Content/CSS/RaceEventDetails.css" rel="stylesheet" />
}

<h2>Details</h2>

@{
    if (TempData["ErrorMsg"] != null)
    {
        <div class="bg-danger padding-one">
            <p>@TempData["ErrorMsg"]</p>
        </div>
    }
}
@{
    if (TempData["Sucess"] != null)
    {
        <div class="bg-success padding-one">
            <p>@TempData["Sucess"]</p>
        </div>
    }
}

<div>
    <hr />
    @{ /* necessary to have the RaceEvendID and race event name in the create and edit page */
        if (Session["id"] == null)
        {
            Session["id"] = Model.RaceEventID;
        }
        else
        {
            Session["id"] = null;
            Session["id"] = Model.RaceEventID;
        }
        if (Session["RaceEventName"] == null)
        {
            Session["RaceEventName"] = Model.Name;
        }
        else
        {
            Session["RaceEventName"] = null;
            Session["RaceEventName"] = Model.Name;
        }
    }
    @Html.Hidden("RaceEventID", Model.RaceEventID)

    <h2>Races for @Session["RaceEventName"]</h2>

    <h3>@Html.ActionLink("Create new class", "Create", "EventClass")</h3>

    <div class="eventClassesTable table-responsive">
        <table class="table  table-hover">
            <tr>
                <th>Event</th>
                <th>Race Class</th>
                <th>Bracket Method</th>
                <th>Qualification Method</th>
                <th>Racers Per Heat</th>
                <th>Racers Per Class</th>
                <th>Repechage Places</th>
                <th>Repechage Qualifiers</th>
                <th>Primary Class Cost</th>
                <th>Secondary Class Cost</th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.ClassesForEvent)
            {
                <tr>
                    <td>@item.raceevent.Name</td>
                    <td>@item.raceclass.Name</td>
                    <td>@item.buildbracketmethod.Name</td>
                    <td>@item.buildqualificationmethod.Name</td>
                    <td>@item.RacersPerHeat</td>
                    <td>@item.RacersPerClass</td>
                    <td>@item.RepechagePlaces</td>
                    <td>@item.RepechageQualifiers</td>
                    <td>@item.PrimaryClassCost</td>
                    <td>@item.SecondaryClassCost</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "EventClass", new { id = item.EventClassID }, null) |
                        @Html.ActionLink("Details", "Details", "EventClass", new { id = item.EventClassID }, null) |
                        @Html.ActionLink("Delete", "Delete", "EventClass", new { id = item.EventClassID }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="container">
        <div class="col-xs-12 col-md-6">
        <style>
          
            .dl-horizontal > dt {
                width: auto;
               
            }
           
        </style>
            <!--table left-->
         <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartDate.Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Year)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Year)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PriorityRegistrationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PriorityRegistrationDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OpenRegistrationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OpenRegistrationDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ClosedRegistrationDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ClosedRegistrationDate)
                </dd>

            </dl>
        </div><!--/table left-->
        <div class="col-xs-12 col-md-6">
            <!--table right-->
            <dl class="dl-horizontal">
                 <dd>
                    @Html.DisplayFor(model => model.MaximumCompetitorClasses)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PrimaryClassCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PrimaryClassCost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SecondaryClassCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SecondaryClassCost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.country)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.country.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.currency)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.currency.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.eventlevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.eventlevel.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.organization)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.organization.Name)
                </dd>
            </dl>
        </div><!--/table right-->
    </div><!--/container-->
</div>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RaceEventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
